<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>

<h1>Function Operations</h1>

<!-- Operand 1 Section -->
<h2>Operand 1</h2>
<form th:action="@{/operations}" method="post">
<a>
    <button name="createTabulatedFunctionOperand1">Create Tabulated</button>
</a>
</form>

<form th:action="@{/operations}" method="post">
    <a>
        <button name="createMathTabulatedFunctionOperand1">Create Math</button>
    </a>
</form>

<form th:action="@{/operations}" th:object="${operations}" method="post">
<table border="1">
    <thead>
    <tr>
        <th>X Values</th>
        <th>Y Values</th>
        <!-- Добавьте заголовки для других столбцов при необходимости -->
    </tr>
    </thead>
    <tbody>
    <!-- Используйте th:each для создания строк в таблице -->
    <tr th:each="i : ${#numbers.sequence(0, operations.operand1.getCount() - 1)}">
        <td step="any" th:text="${operations.operand1.getX(i)}"></td>
        <td step="any" th:text="${operations.operand1.getY(i)}"></td>
    </tr>
    </tbody>
</table>
</form>

<!-- Operand 2 Section -->
<h2>Operand 2</h2>
<form th:action="@{/operations}" method="post">
    <a>
        <button name="createTabulatedFunctionOperand2">Create Tabulated</button>
    </a>
</form>

<form th:action="@{/operations}" method="post">
    <a>
        <button name="createMathTabulatedFunctionOperand2">Create Math</button>
    </a>
</form>

<form th:action="@{/operations}" th:object="${operations}" method="post">
    <table border="1">
        <thead>
        <tr>
            <th>X Values</th>
            <th>Y Values</th>
            <!-- Добавьте заголовки для других столбцов при необходимости -->
        </tr>
        </thead>
        <tbody>
        <!-- Используйте th:each для создания строк в таблице -->
        <tr th:each="i : ${#numbers.sequence(0, operations.operand2.getCount() - 1)}">
            <td step="any" th:text="${operations.operand2.getX(i)}"></td>
            <td step="any" th:text="${operations.operand2.getY(i)}"></td>
        </tr>
        </tbody>
    </table>
</form>
<!-- Operation Section -->
<h2>Operation</h2>
<form th:action="@{/operations}" method="post" th:object="${operations}">
    <label for="operation">Operation:</label>
    <select id="operation" name="operation" th:field="*{operation}">
        <option value="add">+</option>
        <option value="subtract">-</option>
        <option value="multiply">*</option>
        <option value="divide">/</option>
    </select>
    <button type="submit" name="perform">Perform Operation</button>
</form>

</body>
</html>