<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
  <script>
    function handleClick(){
      window.location = "http://localhost:8080/index?"
    }
  </script>
  <style>
    .container{
      padding: 20px;
    }
    .form-container{
      margin-top: 7vh;
    }
  </style>
</head>
<body>
<div class="container">
  <button onclick="handleClick()">Home</button>

  <div class="form-container">
    <h1>Result</h1>
    <!-- Форма -->
    <form th:action="@{/submit}" th:object="${tabulatedFunctionForm}" method="post">
      <!-- Таблица -->
      <table border="1">
        <thead>
        <tr>
          <th>X values</th>
          <th>Y values</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="row : ${#numbers.sequence(0, tabulatedFunctionForm.getAmount - 1)}">

          <td><input type="number" step="any" th:field="*{xValues[__${row}__]}" /></td>
          <td><input type="number" step="any" th:field="*{yValues[__${row}__]}" /></td>
        </tr>
        </tbody>
      </table>
      <!-- Кнопка для подтверждения ввода -->

    </form>
  </div>
</div>


 </body>
 </html>
