<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/tabulatedFunctionMathForm}" method="post" th:object="${mathTabulatedFunctionForm}">
        <label>xFrom:</label>
        <input type="text" th:field="*{xFrom}" /><br/>

        <label>xTo:</label>
        <input type="text" th:field="*{xTo}" /><br/>

        <label>count:</label>
        <input type="text" th:field="*{count}" /><br/>

        <label>Functions:</label>
        <select th:field="*{function}">
            <option th:each="p : ${listFunctions}" th:value="${p.key}" th:text="${p.key}" />
        </select>
        <br/>

        <button type="submit" name="reg">Register</button>
    </form>
</div>
</body>
</html>